<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/info-product/info-product.css' )}}">
    <title>e-commerce</title>
</head>

<body>
    <div class="body">
        <div class="header">
            header
        </div>
        <div class="section">
            <div class="info-img">
                <img src="{{ url_for('static', filename='images/produit-placeholder.png') }}" alt="">
            </div>
            <div class="info">
                <h2>{{ produit.categorie.categorie }}</h2>
                <p>{{ produit.nom }}</p>
                <p>{{ produit.prix }}</p>
            </div>
        </div>
        <div class="container-commentaires">
            <h2>Kaomantera</h2>
            <div class="commentaires">
                {% for commentaire in commentaires %}
                <div class="commentaire">
                    <div class="is-commentaire">
                        {{ commentaire.commentaire }}
                    </div>
                    <div class="classe">
                        {{ commentaire.sentiment }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="ajout-commentaire">
                <small id="info-commentaire">Mbola tsy afaka mikaomanty ianao satria tsy mbola nividy ity vokatra
                    ity</small>
                <textarea name="user-commentaire" id="user-commentaire" cols="30" rows="5" disabled></textarea>
                <div class="button-commentaire">
                    <button>Alefaso</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="has-bought" value="{{ has_bought }}">
    <script src="{{ url_for('static', filename='js/lib-framework/jquery-3.7.1.min.js') }} "></script>
    <script>
        const infoCommentaire = $("#info-commentaire");
        const userCommentaire = $("textarea[name=user-commentaire]");
        const publierBtn = $(".button-commentaire button");
        
        $(document).ready(() => {
            
            const hasUserBoughtProduct = checkIfUserHasBought();

            publierBtn.on("click", function () {
                postComment(infoCommentaire, userCommentaire, hasUserBoughtProduct);
            });

            function postComment(infoCommentaire, userCommentaire, hasUserBoughtProduct) {
                if (!hasUserBoughtProduct) {
                    infoCommentaire.text("Mbola tsy afaka mikaomanty ianao satria tsy mbola nividy ity vokatra ity");
                    return;
                }

                if (userCommentaire.val().trim() === "") {
                    infoCommentaire.text("Tsy nanoratra akory ianao");
                    return;
                }

                $.ajax({
                    url: '/add-comment',
                    method: 'POST',
                    data: { comment: userCommentaire.val() },
                    success: function (response) {
                        infoCommentaire.text("Asio kaomantera vaovao ");
                        userCommentaire.val("");
                    },
                    error: function (error) {
                        infoCommentaire.text("Nisy olana " + error);
                    }
                });
            }

            function checkIfUserHasBought() {
                const hasBought = $("input[name=has-bought]").val().toLowerCase() === "true";
                console.log(hasBought);

                if (hasBought) {
                    infoCommentaire.text("Efa nividy an'ito vokatra ito ianao ka afaka mi-kaomanty");
                    userCommentaire.removeAttr("disabled");
                } else {
                    infoCommentaire.text("Tsy afaka mikaomanty ianao satria tsy nividy ity vokatra");
                    userCommentaire.attr("disabled", true);
                }

                return hasBought;
            }
        });

    </script>
</body>

</html>