<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css' )}}">
    <title>e-commerce</title>
</head>

<body>
    <div class="body">
        <div class="header">
            header
        </div>
        <div class="section">
            {% for categorie, produits in produitsParCategorie.items() %}   
                <div class="categorie">
                    <h2>{{ categorie.categorie }}</h2>
                        <div class="container-produit">
                            {% for produit in produits %}
                                <div class="produit">
                                    <div class="img-produit">
                                        <a href="/produit/info/{{ produit.id }}">
                                            <img src="{{ url_for('static', filename='images/produit-placeholder.png') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="voir-ajout">
                                        <div class="nom">
                                            {{ produit.nom }}
                                        </div>
                                        <div class="prix">
                                            {{ produit.prix }}
                                        </div>
                                        <div class="voir">
                                            <a href="">Voir</a>
                                        </div>
                                        <div class="ajout">
                                            <a href="#" class="ajout-panier" data-id="{{ produit['id'] }}">Ajout</a>
                                        </div>                                
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            {% endfor %}
        </div>
        <div class="panier">
            <div id="panier-contenu">
                <h3>Harona</h3>

                <div class="button-panier">
                    <a href="">Vidiana</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='lib-framework/jquery-3.7.1.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/panier.js') }}"></script>
</body>

</html>