<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main/main.css">
    <title>e-commerce</title>
</head>
<body>
    <div class="body">
        <div class="header">
            header
        </div>
        <div class="section">
            <div class="categorie">
                <h2>Livres</h2>
                <div class="container-produit">
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                    <div class="produit">
                        <div class="img-produit">
                            produit
                        </div>
                        <div class="voir-ajout">
                            <div class="voir">
                                <a href="">Voir</a>
                            </div>
                            <div class="ajout">
                                <a href="">Ajout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panier">
            <div class="container-panier">
                <h3>Panier</h3>
                <div class="info-panier">
                    <div class="info1">
                        <div class="nom-produit">
                            Nom produit
                        </div>
                        <div class="quantite-produit">
                            x2
                        </div>
                    </div>
                    <div class="prix">
                        prix: <br>
                        400$
                    </div>
                </div>
                <div class="info-panier">
                    <div class="info1">
                        <div class="nom-produit">
                            Nom produit
                        </div>
                        <div class="quantite-produit">
                            x2
                        </div>
                    </div>
                    <div class="prix">
                        prix: <br>
                        400$
                    </div>
                </div>
                <div class="info-panier">
                    <div class="info1">
                        <div class="nom-produit">
                            Nom produit
                        </div>
                        <div class="quantite-produit">
                            x2
                        </div>
                    </div>
                    <div class="prix">
                        prix: <br>
                        400$
                    </div>
                </div>
                <div class="info-panier">
                    <div class="info1">
                        <div class="nom-produit">
                            Nom produit
                        </div>
                        <div class="quantite-produit">
                            x2
                        </div>
                    </div>
                    <div class="prix">
                        prix: <br>
                        400$
                    </div>
                </div>
                <div class="button-panier">
                    <a href="">Acheter</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>